/* .body {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
}
.right-div{
 border-style: outset;
 border-radius: 30px;
 border-color: rgb(91, 151, 131);
 padding: 5px;
 float: left;

}

.right-div p{
    text-align: left;
    margin: 0;
} */
 /* body {
    background-image: cross-fade("assets\images\toolvideo.gif");
    
    
 } */
/* #box{
    background-color:rgba(1,57,92,255);
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */
.home-component{
    position: absolute;
    top:60px;
    left: 0px;
    right: 0px;
    margin:0px;
    padding: 20px;
    bottom: 0px;
    background-color: rgba(1,57,92,255);
    /* border: 10px red solid; */
}
.back-gif{
    position:absolute;
    display:flex; 
    height: 482px; 
    margin-right: 300px;
  
}
.container-home {
    /* display:flex; */
   /* justify-content: flex-end; /* Align content to the right */
   font-style:italic;
   max-width: 400px; /* Set a maximum width for the container */
   
   margin-left: 715px; /* Center the container horizontally */
  
    
}

.right-div {
    height: 450px;
    width: 350px;
    text-align: center;
    word-spacing: 10px;
    line-height: 25px;
    background-color: #f9f9f9; /* Optional: Add a background color */
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    border: 1px solid #315a63; /* Optional: Add a border */
}
    