<div class="home-component">
    <div class="back-gif">
        <img src="assets\images\toolvideo.gif" alt="gif">
        </div>
    

<div class="container-home" >
    <div class="right-div">
    <h1 style="line-height: 30px;">Introducing Our Scrum Tool: Boosting Agile Excellence</h1>
        <p>KAP (KPIT Agile Planning) is an in-house framework developed by KPIT Technologies. It serves as a repository for monitoring and controlling project metrics. 
            Key features include creating epics, managing story points, user stories, and tasks. 
            KAP supports agile project management, making it valuable for project leads, managers, Scrum Masters, and product owners. 
            It covers aspects like project creation, lifecycle management, efforts tracking, and integration with customer systems.
        </p></div></div>
    </div>
