

<div>
    <h1>Feature Dashboard</h1>
    <div class="tab" *ngFor="let feature of features">
        {{feature.featureId}} 
        <br>  
        {{feature.description}} 
        <div class="but"> 
            <button class="button" 
         (click)="addEpic(feature.featureId)">
            ADD EPIC</button>
        </div>
      </div>
      </div>
<!-- </div>/* app.component.css */

/* Style for the container */
/* 

/* Style for individual tabs */
/* .tab {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* Style for the button 
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


}   -->
