* {box-sizing: border-box}
.custom-tabs {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.tab {
  border: 1px solid #436b74;
  background-color:#aad1d9;
  width: 100%;
  height: 90px;
  margin-bottom: 50px;
  padding: 10px;
  
}
.button {

  display: flex;
  position:relative;
  background-color: #5f8a91;
  color: black;
  padding: 10px 10px 10px 10px;
  width: auto;
  height: auto;
  border:#75dcf1;
  outline:auto;
  margin-left: 80%;
  bottom: 50px;
  left: 150px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #ddd;
}
.button.active {
  background-color: #ccc;
}

.feature-container {
  position: relative;
}


