
<div>
    <h1 style="text-align: center; color: blue;">KPIT PM VIEW</h1>
  </div>
  <div class="kanban-board" style="text-align:center;">
    <div class="kanban-column">
        <h2 style="background-color:antiquewhite;">Sprint 1</h2>
        <div class="kanban-item">Task 1</div>
        <div class="kanban-item">Task 2</div>
        <div class="kanban-item">Task 3</div>
    </div>
    <div class="kanban-column">
        <h2 style="background-color:antiquewhite;">Sprint 2</h2>
        <div class="kanban-item">Task 4</div>
    </div>
    <div class="kanban-column">
        <h2 style="background-color:antiquewhite;">Product backlog</h2>
        <div class="kanban-item">Task 5</div>
    </div>
  </div>