<div class="login_container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="login_form">
        <div class="form_group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
        </div>
        <div class="form_group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"[(ngModel)]="user.password" required>
        </div>
        <div class="form_action">
            <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
        </div>

    </form>   
</div>