/* 
    .login_container {
        max-width: 400px;
        margin: auto;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        align-items: center;
        margin-top: 70px;
    }

    .form_group {
        margin-bottom: 15px;
        margin-right: 20px;
    }

    label {
        font-weight: bold;
       

    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .form_action {
        text-align: center;
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3;
    }
 */
/* Container for the login form */
.login_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(12, 118, 223, 0.1);
}

/* Heading style */
.login_container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    
}

/* Form group style */
.form_group {
    margin-bottom: 20px;
}

/* Label style */
.form_group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input style */
.form_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #83e5f3;
    border-radius: 5px;
}

/* Button style */
.form_action button {
    width: 100%;
    padding: 10px;
    background-color:#346e7e ;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.form_action button:hover {
    background-color: #0e3f33;
}

/* Center the form on small screens */
@media screen and (max-width: 480px) {
    .login_container {
        max-width: 100%;
    }
}


.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
