.login_container {
    background-color:aliceblue;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(62, 147, 173, 0.1);
}

/* Heading style */
.login_container h1 {
    text-align: centre;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form group style */
.form_group {
    margin-bottom: 20px;
}

/* Label style */
.form_group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input style */
.form_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #347780;
    border-radius: 5px;
}

/* Button style */
.form_action button {
    width: 100%;
    padding: 10px;
    background-color: #4899bc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.form_action button:hover {
    background-color: #0d5d80;
}

/* Center the form on small screens */
@media screen and (max-width: 480px) {
    .login_container {
        max-width: 100%;
    }
}
