<div class="login_container">
    <h1>ADD SPRINT</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="sprint_form">
        <div class="form_group">
            <label for="name">Sprint Name</label>
            <input type="name" name="sprint_Name" id="sprint_Name" [(ngModel)]="sprint.sprint_Name" required>
        </div>
        <div class="form_group">
            <label for="creationDate">Creation Date</label>
            <input type="date" name="start_Date" id="start_date" [(ngModel)]="sprint.start_Date" required>
        </div>
        <div class="form_group">
            <label for="dueDate">Due Date</label>
            <input type="date" name="end_Date" id="end_date" [(ngModel)]="sprint.end_Date" required>
        </div>
        <div class="form_action">
            <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
        </div>
    </form>
</div>