<nav class="navbar">
    <ul>
       <a routerLink="home" class="home" > <img src="assets\images\kaplogo.png" alt="Logo" class="navbar-logo"> </a>
       
        <li><a routerLink="explore" routerLinkActive="active" class="explore">Explore</a></li>
        
        <li><a routerLink="dragdrop" routerLinkActive="active" class="explore">Sprints</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="login" routerLinkActive="active" class="explore">Log In</a></li>
        <li *ngIf="isLoggedIn">
            <button class="profile" (click)="profileButton()">{{capital(user?.firstName)}}</button>
        </li>
    </ul>
</nav>
 
<div class="container">
    <router-outlet></router-outlet>
</div>