<div cdkDropListGroup>
  <div class="container">
    <div >
    <h3>Product Backlog</h3>
    </div>
    <div cdkDropList 
    [cdkDropListData]="productBacklog" 
    class="list" 
    (cdkDropListDropped)="drop($event)">
      <div class="item" *ngFor="let feature of productBacklog" cdkDrag> 
        ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}
      </div>
    </div>
    
  </div>
 
  <div class="container" *ngFor="let sprint of sprints">
    <h3>{{sprint.sprintName}}</h3>
    <div cdkDropList 
    [cdkDropListData]="getFeaturesForSprint(sprint.sprintId)" 
    class="list" 
    (cdkDropListDropped)="drop($event, sprint.sprintId)">
      <div class="item" *ngFor="let feature of getFeaturesForSprint(sprint.sprintId)" cdkDrag>
      ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}
    </div>
    </div>
  </div>
 <div >
  <button type="button" class="btn btn-primary btn-lg" (click)="viewprevious()">Click To View Previous Sprints</button>
 </div>
 <div *ngIf="flag">
  <div class="container" *ngFor="let sprint of previousSprint">
    <h3>{{sprint.sprintName}}</h3>
    <div cdkDropList 
    [cdkDropListData]="getpreviousSprintFeatures(sprint.sprintId)" 
    class="list" 
    (cdkDropListDropped)="drop($event, sprint.sprintId)">
      <div class="item" *ngFor="let feature of getpreviousSprintFeatures(sprint.sprintId)" cdkDrag>
     <s> ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}</s>
    </div>
    </div>
  </div>
</div></div>

<div>
  <button type="button" class="btn btn-primary btn-lg" 
  routerLink="/featureForm" (click)="addButton()">ADD FEATURE</button>
</div>