.container {
    width: 30%;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top:30px;
  }
   
  .list {
    border: 1px solid #80d0db;
    min-height: 300px;
    padding: 10px;
    background:#fff;

  }
   
  .item {
    padding: 10px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: move;
    background-color:rgb(68, 192, 214);
    border-radius:0%;
  }
.btn{
  text-align: center;
  margin-top: 20px;
  margin-left: 500px;
  height: auto;
  background-color: rgb(71, 137, 151);
  border-color: rgb(4, 14, 16);
}

  
 
 