<div cdkDropListGroup>
  <div class="container">
    <div >
    <h3>Product Backlog</h3>
    </div>
    <div cdkDropList 
    [cdkDropListData]="productBacklog" 
    class="list" 
    (cdkDropListDropped)="drop($event, 'pending')">
      <div class="item" *ngFor="let feature of productBacklog" cdkDrag> 
        ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}
      </div>
    </div>
    
  </div>
 
  <div class="container" *ngFor="let sprint of sprints">
    <h3>Sprint {{sprint.sprintId}}</h3>
    <div cdkDropList 
    [cdkDropListData]="currentSprint" 
    class="list" 
    (cdkDropListDropped)="drop($event, 'current')">
      <div class="item" *ngFor="let feature of currentSprint" cdkDrag>
      ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}
    </div>
    </div>
  </div>
 
  <!-- <div class="container">
    <h3>Sprint 2</h3>
    <div cdkDropList 
    [cdkDropListData]="sprint2" 
    class="list" 
    (cdkDropListDropped)="drop($event, 'sprint 2')">
      <div class="item" *ngFor="let feature of sprint2" cdkDrag>
        ID:{{feature.featureId}} <br> DESCRIPTION:{{feature.description}}
      </div>
    </div>
  </div> -->
</div>
<div>
  <button type="button" class="btn btn-primary btn-lg" 
  routerLink="/featureForm" (click)="addButton()">ADD FEATURE</button>
</div>