<div class="login_container">
  <h1>Add Feature</h1>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="feature_form">
      <div class="form_group">
          <label for="type">Feature Type</label>
          <input type="type" id="type" name="type" [(ngModel)]="feature.type" required>
      </div>
      <div class="form_group">
          <label for="filedAgainst">Filed Against</label>
          <input type="filedAgainst" id="filedAgainst" name="filedAgainst"[(ngModel)]="feature.filedAgainst" required>
      </div>
      <div class="form_group">
        <label for="createdBy">Created By</label>
        <input type="createdBy" id="createdBy" name="createdBy"[(ngModel)]="feature.createdBy" required>
    </div>
    <div class="form_group">
      <label for="description">Description</label>
      <input type="description" id="description" name="description"[(ngModel)]="feature.description" required>
  </div>
 
      <div class="form_action">
          <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
      </div>
  </form>   
</div>